<?xml version="1.0" encoding="utf-8"?>
<!-- 微信域名实时检测 api -->
<configuration>
  <add key="wxCheckApiKey" value="341e0b5df120394ec99e517b67774399" />
  <add key="wxCheckApiKey3" value="341e0b5df120394ec99e517b67774399" />
  <add key="shorturlKey" value="341e0b5df120394ec99e517b67774399" />
</configuration>