<?xml version="1.0" encoding="utf-8"?>
<!-- 其他临时配置 -->
<configuration>
  <add key="Host" value="localhost:5623,localhost:5623" />
  <add key="exp" value="xx.yy.zz" />
  <add key="hmdOpenid" value="ocMqvwRjzPH9eseHRc_Z9nlP-DSM,ocMqvwRjzPH9eseHRc_Z79lP-DSM" />
  <add key="state" value="true" />
  <add key="tokens" value="BSBQvBerSsj8X23X,uDSrEHNs9CFGcTSC" />
  <!-- 默认跳转链接   -->
  <add key="DefaultUrl" value="http://www.wxcheckurl.com/" />
  <!-- 微信公众号文章中转  -->
  <add key="wxShowImg" value="image.xxxx.com" />
  <!-- qqzone  -->
  <add key="qqzoneImg" value="1.png,2.png,3.png,4.png" />
</configuration>